<% include ./partials/header%>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class"ui centered rounded image fluid" style='height: 100%; width: 100%; object-fit: contain'src="<%=blog.image%>">
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%- blog.body%></p>
            </div>
            <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST" >
                <button  class="ui inverted red button">Delete</button>
            </form>
            <a href="/blogs/<%=blog._id%>/edit" class="ui inverted blue button">Edit</a>
        </div>
    </div>
</div>

<% include ./partials/footer%>